
/SharePointPrimitives.Stsadm.CommandWrapper/bin/Debug/Microsoft.SharePoint.Search.dll
/SharePointPrimitives.Stsadm.CommandWrapper/bin/Debug/Microsoft.SharePoint.Search.xml
/SharePointPrimitives.Stsadm.CommandWrapper/bin/Debug/SharePointPrimitives.Stsadm.CommandWrapper.dll
/SharePointPrimitives.Stsadm.CommandWrapper/bin/Debug/SharePointPrimitives.Stsadm.CommandWrapper.pdb
/SharePointPrimitives.Stsadm.CommandWrapper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SharePointPrimitives.Stsadm.CommandWrapper/obj/Debug/SharePointPrimitives.Stsadm.CommandWrapper.csproj.FileListAbsolute.txt
/SharePointPrimitives.Stsadm.CommandWrapper/obj/Debug/SharePointPrimitives.Stsadm.CommandWrapper.dll
/SharePointPrimitives.Stsadm.CommandWrapper/obj/Debug/SharePointPrimitives.Stsadm.CommandWrapper.pdb
/SharePointPrimitives.Stsadm.WhatIs/bin/Debug/Microsoft.SharePoint.Search.dll
/SharePointPrimitives.Stsadm.WhatIs/bin/Debug/Microsoft.SharePoint.Search.xml
/SharePointPrimitives.Stsadm.WhatIs/bin/Debug/Microsoft.SharePoint.dll
/SharePointPrimitives.Stsadm.WhatIs/bin/Debug/Microsoft.SharePoint.xml
/SharePointPrimitives.Stsadm.WhatIs/bin/Debug/SharePointPrimitives.Stsadm.CommandWrapper.dll
/SharePointPrimitives.Stsadm.WhatIs/bin/Debug/SharePointPrimitives.Stsadm.CommandWrapper.pdb
/SharePointPrimitives.Stsadm.WhatIs/bin/Debug/SharePointPrimitives.Stsadm.WhatIs.dll
/SharePointPrimitives.Stsadm.WhatIs/bin/Debug/SharePointPrimitives.Stsadm.WhatIs.pdb
/SharePointPrimitives.Stsadm.WhatIs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SharePointPrimitives.Stsadm.WhatIs/obj/Debug/ResolveAssemblyReference.cache
/SharePointPrimitives.Stsadm.WhatIs/obj/Debug/SharePointPrimitives.Stsadm.WhatIs.csproj.FileListAbsolute.txt
/SharePointPrimitives.Stsadm.WhatIs/obj/Debug/SharePointPrimitives.Stsadm.WhatIs.dll
/SharePointPrimitives.Stsadm.WhatIs/obj/Debug/SharePointPrimitives.Stsadm.WhatIs.pdb
/Libraries/Microsoft.SharePoint.dll